@page
@model OralHealthManagement.ExhaustDetailsModel

@{
    ViewData["Title"] = "衰弱指標";
}

    <h1>衰弱指標</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.ChartNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.ChartNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q5)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q6)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q6)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q7)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q7)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q8)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q8)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q9)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q9)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q10)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q10)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q11)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q11)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q12)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q12)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q13)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q13)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q14)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q14)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q15)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q15)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q16)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q16)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q17)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q17)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q18)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q18)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q19)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q19)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q20)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q20)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q21)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q21)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q22)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q22)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q23)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q23)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q24)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q24)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Q25)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Q25)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaust.Result)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhaust.Result)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Exhaust.ChartNo">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
