@page
@model OralHealthManagement.OHATIndexModel

@{
    ViewData["Title"] = "口腔健康評估量表";
}

<h1>口腔健康評估量表</h1>

<p><a class="btn btn-primary" asp-page="Create">Create New</a><br></p>


<table class="container-fluid table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OHAT[0].Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OHAT[0].ChartNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OHAT[0].Q1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OHAT[0].Q2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OHAT[0].Q3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OHAT[0].Q4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OHAT[0].Q5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OHAT[0].Q6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OHAT[0].Q7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OHAT[0].Q8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OHAT[0].Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OHAT[0].Habbit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OHAT[0].Pattern)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OHAT[0].Reason)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OHAT)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChartNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Q1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Q2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Q3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Q4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Q5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Q6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Q7)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Q8)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Habbit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pattern)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    @using (Html.BeginForm("Export", "Home", FormMethod.Post))
    {
    <input class="btn btn-primary" type="submit" id="btnSubmit" value="Export" />
    }
</p>